name: Update Drone.yml

permissions:
  contents: write
  actions: write
  checks: read
  deployments: write

on:
  push:
    paths:
      - 'Dockerfile'
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.ref }}
        token: ${{ secrets.GH_TOKEN }}
    - run: |
        VER=$(cat Dockerfile | grep -oP '(?<=FROM\stelegraf:)+[0-9]+\.[0-9]+\.[0-9]+')
        echo $VER
        sed -i 's/[[:digit:]]\+\.[[:digit:]]\+\.[[:digit:]]\+/'$VER'/g' .drone.yml
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "Drone.yml updated"
        git push
